body{
    display: flex;
    margin: 0px;
}

.cont_left{
    width: 20vw;
    height: 100vh;
    background-color: aqua;
}
.con1{
    background-color:rgb(206, 148, 25);
}
.con2{
    background-color: rgb(33, 224, 151);
    height: 5%;
    width: 80vw;
    display: flex;
}
.con3{
    background-color: aliceblue;
    height: 65vh;
    width: 80vw;
    z-index: 1;
}
.con4{
    background-color: aqua;
    border: 5px;
    border-color: blue;
    height: 30vh;
    width: 80vw;
}
.toolbar_l{
    display: flex;
    align-items: center;
    width: 40vw;
}
.toolbar_l{
    display: flex;
}
.toolbar_r{
    background-color: brown;
    padding-right: 2vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-items: center;
    width: 40vw;
}

.te{
    position: absolute;
    z-index: 2;
}
#menu_bar{

    position: absolute;
    right: 0vw;
    visibility: hidden;
    z-index: 100;
    height: 100px;
    width: 100px;
    background-color: rgb(206, 23, 23);
}
.toolbar_item_menu{
    margin: 5px;
}

.toolbar_item_menu:hover .menu_bar{
    background-color: black;
    /* visibility: visible; */
}